// button

.btn {
  border-radius: 5px;
  height: 55px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0 26px;
  font-size: $font-size-m;
  font-weight: bold;
  justify-content: center;
  transition: opacity .3s ease;
  &:hover {
    opacity: .7;
  }

  &.btn-primary {
    background: $color-primary;
    color: $color-white;
  }
  &.btn-normal {
    border: solid 2px $color-primary;
    color: $color-primary;
    background-color: $color-white;
  }
  @media screen and (max-width: 700px) {
    font-size: $font-size-s;
    height: 45px;
  }
}

.page-link {
  background: url("../img/common/arrow.png") no-repeat left center;
  background-size: 10px auto;
  padding-left: 24px;
  font-size: $font-size-m;
  font-weight: bold;
  color: $color-primary;
  transition: opacity .3s ease;
  &:hover {
    opacity: .7;
  }
}
