// color
$color-white: #FFFFFF;
$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #e3e3e3;
$color-primary: #FF7D33;

$content-background: #F8F8F8;
$color-gradient: linear-gradient(92.57deg, #F4511E 0%, #F75E29 21.35%, #FA6E35 45.83%, #FFCB41 100%);

// font
$font-size-catch: 63px;
$font-size-xl: 50px;
$font-size-l: 30px;
$font-size-m: 20px;
$font-size-s: 15px;
$font-size-xs: 13px;
