{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h1 class="header center">
            MONITORING DYNAMIC INFRASTRUCTURE AT SCALE
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <div class="hero-space-buttons">
            <a href="https://app.orangesys.io" class="button button--red">
                Try Orangesys
            </a>

            <p class="text dark-it-up">or</p>

            <a href="/documentation/why-use-orangesys" class="button button--grey">
                Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
        <a href="https://app.orangesys.io"><img class="laptop" src="img/006-mock-ups/orangesys-dark-laptop-v091-hero.png" alt=""></a>
        </div>
      </div>

      <div class="bottom-background">
        <div class="left-pixels">
          <img src="img/herospace/pixels-header-left.gif" alt="">
        </div>
        <div class="right-pixels">
          <img src="img/herospace/pixels-header-right.gif" alt="">
        </div>
      </div>

    </div>
  </div>

  <!--ABOUT VAMP ROW-->
  <div id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 text-center">
            <h3 class="h3">Orangesys特徴</h3>
          <h1 class="h1 mb-5">Orangesysが愛される理由</h1>
        </div>
        <div class="col-sm-4 text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2"><strong>手軽な導入、簡単な設定</strong></h2>
          <p class="h4">
            telegraf-orangesysをインストールだけ、設定も簡単
            </p>
        </div>
        <div class="col-sm-4 text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2"><strong>カスタマイズダッシュボード</strong></h2>
          <p class="h4">
            Grafana Dashboardsを使い、データビューとフィルタリングでメトリックを可視化
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2"><strong>柔軟で多様な通知</strong></h2>
          <p class="h4">
            直感的な監視項目・閾値の設定。SlackやWebhookなどへの柔軟な通知
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="h2"><strong>メトリックを簡単に収集</strong></h2>
            <p class="h4">
              プログラムやライブラリを使用し、簡単にメトリックを送信できます
              </p>
          </div>
          <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="h2"><strong>簡単にグラフを共有</strong></h2>
            <p class="h4">
              GrafanaのグラフをChatへ簡単に貼り付けができます
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
              <i class="fa fa-outdent fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="h2"><strong>外形監視も対応</strong></h2>
            <p class="h4">
             自由にURLを外部から監視することができます
          </div>        
      </div>
    </div>
  </div>

  <!--Pricing Plan -->
  <div class="lander-row lander-row--grey">
    <div class="container">
    <div class="row mb-4">
    <div class="col-sm-12 text-center">
      <h1 class="h1 mb-5">料金プラン</h1>
    </div>      
    <div class="plans">
      <div class="plan">
        <h3 class="plan-title">Startup</h3>
        <p class="plan-price">5万円<span class="plan-unit">毎月</span></p>
        <ul class="plan-features">
          <li class="plan-feature">10 <span class="plan-feature-name">日 グラフ表示期間</span></li>
          <li class="plan-feature">10 <span class="plan-feature-unit">GB </span> <span class="plan-feature-name">ストレージ</span></li>          
          <li class="plan-feature">無制限<span class="plan-feature-unit"> </span> <span class="plan-feature-name">ダッシュボード</span></li>                
          
        </ul>
        <a href="https://app.orangesys.io/" class="plan-button">TRY ORANGESYS</a>
      </div>
      <div class="plan plan-highlight">
        <p class="plan-recommended">Recommended</p>
        <h3 class="plan-title">Team</h3>
        <p class="plan-price">30万円<span class="plan-unit">毎月</span></p>
        <ul class="plan-features">
          <li class="plan-feature">40 <span class="plan-feature-name">日 グラフ表示期間</span></li>
          <li class="plan-feature">50<span class="plan-feature-unit">GB </span> <span class="plan-feature-name">ストレージ</span></li>
          <li class="plan-feature">無制限<span class="plan-feature-unit"> </span> <span class="plan-feature-name">ダッシュボード</span></li>                                
        </ul>
        <a href="https://app.orangesys.io/" class="plan-button">TRY ORANGESYS</a>
      </div>
      <div class="plan">
        <h3 class="plan-title">Premium</h3>
        <p class="plan-price">50万円<span class="plan-unit">毎月</span></p>
        <ul class="plan-features">
          <li class="plan-feature">400 <span class="plan-feature-name">日 グラフ表示期間</span></li>
          <li class="plan-feature">100<span class="plan-feature-unit">GB </span> <span class="plan-feature-name">ストレージ</span></li>
          <li class="plan-feature">無制限<span class="plan-feature-unit"> </span> <span class="plan-feature-name">ダッシュボード</span></li>                                
        </ul>
        <a href="https://app.orangesys.io/" class="plan-button">TRY ORANGESYS</a>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col center">
          <a href="/documentation/why-use-orangesys/pricing" class="button button--red--ghost">料金につき</a>
        </div>
      </div>
    </div>
  </div>
  <!-- integration plugins list -->
  <div id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="col-sm-12 text-center">
          <h3 class="h3">多様なプラグイン</h3>
        <h1 class="h1 mb-5">100種類以上のプラグイン</h1>
      </div>
      <div class="row">
        <div class="col center">
        <a href="https://app.orangesys.io"><img class="laptop" src="img/006-mock-ups/orangesys-plugins-list.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
<!-- page end -->  
</div>

{{ partial "footer" .}}
