{{ partial "head" . }}

<div>
  {{ partial "nav" . }}
</div>

<!--HEROSPACE ROW-->
<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="header center">
            MONITORING DYNAMIC INFRASTRUCTURE AT SCALE
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <div class="hero-space-buttons">
            <a href="https://app.orangesys.io" class="button button--red">
                Try Orangesys
            </a>

            <p class="text dark-it-up">or</p>

            <a href="/documentation/why-use-orangesys" class="button button--grey">
                Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
        <a href="https://app.orangesys.io"><img class="laptop" src="img/006-mock-ups/orangesys-light-laptop-v091-hero.png" alt=""></a>
        </div>
      </div>

    </div>

    <div class="bottom-background">
      <div class="left-pixels">
        <img src="img/herospace/pixels-header-left.gif" alt="">
      </div>
      <div class="right-pixels">
        <img src="img/herospace/pixels-header-right.gif" alt="">
      </div>
    </div>
  </div>

  <!--ABOUT VAMP ROW-->
  <div id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2">OpenSaaS Monitoring Engine</h2>
          <p class="text">
            豊富なエコシステムプラグイン、導入、設定簡単
            </p>
        </div>
        <div class="col center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2">Graph Your Infrastructure</h2>
          <p class="text">
            使いやすい、見やすい、気になる値はすべてグラフに可視化
          </p>
        </div>
        <div class="col center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary lander-row--orange"></i>
            <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="h2">Advanced Monitoring Alerts</h2>
          <p class="text">
            直感的な監視項目・閾値の設定。SlackやWebhookなどへの柔軟な通知
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href="/documentation/why-use-orangesys" class="button button--red--ghost">
              <p>Learn More</p>
              <div class="button__icon button__icon--arrow">
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer" .}}
